<% if(errors.length > 0){ %>
    <div class="row">
        <div class="col">
            <div class="alert alert-danger">
                <% errors.forEach(erro => { %>
                    <i class="ti ti-square-x fw-bold"></i> <%= erro %><br>
                <%});%>
            </div>
        </div>
    </div>
<% } %>
<% if(success.length > 0){ %>
    <div class="row">
        <div class="col">
            <div class="alert alert-success">
                <% success.forEach(success => { %>
                    <i class="ti ti-check fw-bold"></i> <%= success %><br>
                <%});%>
            </div>
        </div>
    </div>
<% } %>

